$primary-color: #005A5B;

/** Add a few CSS standarizations */

html,
body {
  min-height: 100vh;
}

body,
.vertical-flex {
  display: flex;
  flex-direction: column;
}

main,
.flex-grow {
  flex: 1 0 auto;
}

a:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

#logo {
  min-width: 200px;
}

/* static text */

.static-text a,
a:visited {
  /* color: #007833; */
  text-decoration: underline;
}

.nav-button {
  background-color: $primary-color;
  text-decoration: none;
  &:hover {
    background-color: #007833;
  }
}

.static-text a:hover {
  text-decoration: underline;
}

/* FlexBox configuration */

.flex-container {
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.catalog-grid {
  margin: 0 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.catalog-grid-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.catalog-grid-item:hover {
  border: 1px solid $primary-color;
  box-shadow: 3px 3px #ddd;
}

.catalog-grid-item h3 {
  background-color: #f5f5f5;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.catalog-grid-item:hover h3 {
  background-color: #d8ecf3;
}

.catalog-grid-item p {
  margin: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-grid-item p:last-child {
  align-self: flex-end;
}

.catalog-grid-item a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.catalog-grid-item h3 > small {
  /* Display of news post date and tag */
  border-left: 1px solid #777;
  padding-left: 5px;
}

/* --- */

#repositories p.stats > a {
  margin-left: 15px;
}

#repositories p.stats > a:last-child {
  margin-right: 15px;
}

/* links for each repo in a category */
#categories p.links {
  text-align: right;
  align-items: center;
  line-height: 2.5;
}

/* Org logo */
#categories p.links > span:first-child {
  margin-left: 15%;
  margin-right: 10px;
  float: left;
}

/* repo name */
#categories p.links > span:nth-child(2) {
  float: left;
  font-weight: bold;
  font-size: 1.6rem;
}

/* repo stars */
#categories p.links > span:nth-child(3) {
  margin-right: 5px;
}

/* repo info */
#categories p.links > span:last-child {
  margin-right: 15%;
}

/* GitHub fork ribbon */
/*   based on https://codepo8.github.io/css-fork-on-github-ribbon/ */
#forkongithub {
  /* hide if window is smaller than threshold */
  display: none;
}
@media screen and (min-width: 800px) {
  #forkongithub {
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 138px;
    overflow: hidden;
    height: 138px;
    z-index: 9999;
  }
  #forkongithub a {
    pointer-events: all;
    background: $primary-color;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.2rem;
    line-height: 1rem;
    width: 200px;
    position: absolute;
    top: 40px;
    right: -45px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  #forkongithub a:hover {
    background: #007833;
    color: #ffffff;
  }
  #forkongithub a::before,
  #forkongithub a::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
  }
  #forkongithub a::after {
    bottom: 1px;
    top: auto;
  }
}

/* Navbar */
.navbar-header a.navbar-brand {
  color: #007833;
  font-weight: bold;
  text-decoration: none;
}

.navbar a.navbar-normal {
  color: #007833;
  text-decoration: none;
}

.navbar a.navbar-normal:hover {
  color: #009bab;
  text-decoration: none;
}

.navbar {
  padding: 1.5rem;
  margin-bottom: 0;
  text-decoration: none;
}

.navbar .container {
  position: relative;
}

.navbar-right {
  margin-right: 15px; /* Don't let "fork me" banner cover the last element */
}

/* Dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  padding: 5px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .dropdown-content {
    visibility: hidden;
    text-decoration: none;
  }
}

.dropdown:hover .dropdown-content {
  z-index: 999;
  display: block;
}

@media (max-width: 767px) {
  .flex-category {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .flex-category {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .flex-category {
    width: 33%;
  }
}

.flex-category {
  margin-bottom: 30px;
  transition: 0.3s;
  align-items: center;
}

.dynamic:hover {
  border: 1px solid $primary-color;
  box-shadow: 3px 3px #ddd;
}

.dynamic-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-link > h2 {
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.flex-category > p {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.flex-category a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
}

.flex-category a:hover {
  /* Don't decorate links in repo items */
  color: #777;
  text-decoration: none;
}

.more {
  float: right;
  font-weight: bold;
  margin-right: 60px;
  margin-bottom: 20px;
  transition: 0.3s;
  font-size: 1.3rem;
}

.page-title {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#banner-img {
  display: block;
  width: 100%;
  height: 75px;
  max-height: 8vh;
  filter: grayscale(1);
  background-image: url('../assets/images/banner.jpg');
  background-repeat: round;
  mask-image: linear-gradient(90deg, #005A5B33 0%, #2C536433 50%, #0F202733 100%)
}

#banner-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5em;
  h1 {
    color: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 1.75vw;
    margin: 0;
  }
}

.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
}

.page {
  justify-content: center;
  height: 100%;
}

.nav-container {
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  top: 0;
  background-color: #f8f8f8;
  border-radius: 0px 5px 5px 0px;
  border: solid 1px lightgrey;
  border-top: none;
  border-left: none;
}

.nav-container-list {
  @extend .nav-container;
  min-width: 300px;
  width: 400px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .nav-container-list {
    display: none;
  }
}

.nav-container-single {
  @extend .nav-container;
  top: 50vh;
  align-self: baseline;
}

@media (max-width: 1199px) {
  .nav-container-single {
    top: 5vh;
  }
}

#category-header {
  margin-top: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

@media (max-width: 1199px) {
  #category-hamburger-container {
    width: 100%;
    background-color: #f8f8f8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  #category-hamburger-container {
    display: none;
  }
}

.stickynav div {
  padding-left: 5px;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 50px;
  font-size: 1.8rem;
  display: block;
  transition: 0.3s;
  border-top: solid 1px lightgrey;
}

.stickynav a {
  text-decoration: none;
  transition: 0.3s;
}

.stickynav div:hover {
  background-color: #e6e6e6;
  padding-left: 10px;
}

.stickynav div:hover > a {
  color: black;
}

#category-hamburger-nav button {
  width: 100%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 35px;
  font-size: 1.5rem;
  display: block;
  transition: 0.3s;
  border: solid 1px lightgrey;
  border-top: none;
  text-decoration: none;
  &:hover {
    background-color: lightgrey;
    padding-left: 18px;
    color: black;
  }
}

.tab {
  color: black;
  width: 100%;
  text-align: left;
  font-size: 16px;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}
.selected-tab {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}

#category-hamburger-container button {
  color: gray;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #f8f8f8;
  border-bottom: solid 1px lightgrey;
  width: 100%;
}

#category-hamburger-container button:hover {
  cursor: pointer;
  color: black;
}

#searchText {
  width: 25%;
  margin-bottom: 10px;
  margin-right: 10px;
}

#catalog-repo-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.title-container img {
  min-height: 100px;
  min-width: 100px;
  max-height: 10%;
  max-width: 10%;
}

.title-description {
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  padding-left: 5%;
  width: 700px;
}

.orgAvatar {
  object-fit: contain;
}

@media (max-width: 767px) {
  .title-description {
    text-align: center;
  }
  .title-description h2 {
    font-size: 1.3em;
  }
  .page-title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .text-description {
    text-align: left;
  }

  .page-title {
    font-size: 20px;
  }
}

.twitterFeed {
  order: 2;
  margin-left: 2em;
  margin-bottom: 2em;
}

.twitterFeed-mobile {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.twitter-title {
  font-weight: bold;
  text-align: center;
}

.tweet-border {
  border-left: solid lightgrey 1px;
  border-bottom: solid lightgrey 1px;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .twitterFeed {
    display: none;
  }
}

@media (min-width: 768px) {
  .twitterFeed-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 988px) {
  .twitterFeed {
    width: 280px;
  }
}

@media (min-width: 989px) {
  .twitterFeed {
    width: 330px;
  }
}

blockquote {
  font-size: 14px;
}

/* news */
.news-archive-link {
  background-color: #007833;
  color: #fff;
  text-decoration: none !important;
}

/* footer */
.footer-top-banner {
  background: linear-gradient(90deg, #005A5B 0%, #2C5364 50%, #0F2027 100%);
  padding: 0.5rem 0;
  /* Centers everything in the banner. */
  text-align: center;
}
.footer-top-banner a {
  color: #ffffff;
}
.footer-banner-wrapper {
  padding: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  vertical-align: middle;
}
.contact-us {
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  font-family: sans-serif;
}
.newsdesk-social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.svg-inline--fa {
  height: 2.8em;
  padding: 0.2em;
  fill: white;
}
.footer-bottom-banner a {
  color: #007833;
}
#site-links {
  text-decoration: none;
}
#site-links ul {
  list-style: none;
  text-align: center;
}
#site-links ul li {
  display: inline-block;
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
}

@media print {
  .navbar-search,
  .navbar .nav,
  .btn,
  noscript {
    display: none;
  }
  th a {
    color: #000;
  }
  a[href]:after {
    content: '';
  }
}

.overall-metrics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.code-metric-overview {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px; /* More rounded for modern look */
    font-size: 1em;
    margin-top: 5px;
    min-width: 250px; /* Default width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.code-metric-overview:hover {
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.code-metric-overview h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #0056b3; /* A professional blue color */
}
.code-metric-overview p {
  font-size: 1rem;
  line-height: 1.5;
}

.code-metric-box {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
    min-width: 250px; /* Default width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.code-metric-legend {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

}

.code-info-toggle {
  display: flex;
  justify-content: space-between;
  opacity: 0.55;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
}

.code-info-toggle:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 1.1;
}

.code-info-upload {
  display: flex;
  opacity: 0.55;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
}


/* Flex container for the boxes */
.code-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between boxes */
}

/* Individual box styling */
.info-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for the boxes */
.info-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Header styling */
.info-box h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #0056b3; /* A professional blue color */
}

/* Paragraph styling */
.info-box p {
  font-size: 1rem;
  line-height: 1.5;
}


/* Container for the charts */
.chart-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px; /* Add space between charts and info boxes */
}

/* Individual chart box */
.chart-box {
  width: 45%;
  max-width: 400px; /* Max width to keep charts from getting too big */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Calendar */
/* style.css */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f7f6;
    margin-top: 40px;
}

h2 {
    color: #333;
}

#calendar-container {
    width: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#month-year-display {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.calendar-header button:hover {
    background-color: #e9ecef;
}

.calendar-weekdays, .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-weekdays div {
    font-weight: 600;
    color: #6c757d;
    font-size: 0.9em;
    padding-bottom: 10px;
}

.calendar-grid div {
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
}

.calendar-grid .day:hover {
    background-color: #e9ecef;
}

.day.prev-month, .day.next-month {
    color: #adb5bd;
}

.day.selected {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.day.in-range {
    background-color: #dbeafe;
    color: #1d4ed8;
    border-radius: 0;
}

.day.start-range {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.day.end-range {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#selected-dates-display {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
